/* BEGIN: JskitRichDropDownList */
.JskitRichDropDownList_panel
{
	border:1px solid #000000;
	background-color:#ffffff;
	overflow:auto;
	padding:2px 2px 2px 2px;
	height:200px;
	z-index:100;
	}
.JskitRichDropDownList_panel_loading
{
	border:1px solid #000000;
	background-color:#ffffff;
	overflow:auto;
	padding:2px 2px 2px 2px;
	height:200px;
	background-image:url(/cellula_client/default/images/loading.gif);
	background-position:left center;
	background-repeat:no-repeat;
	font-weight:normal;
	}
.JskitRichDropDownList_panel div
{
	cursor:pointer;
	font-weight:normal;
	}
.JskitRichDropDownList_btn
{
	font-size:9px;
	font-family:Arial;
	width:18px;
	height:21px;
	overflow:hidden;
	border:solid 1px #cccccc;
	padding:0px 0px 0px 0px;
	margin-left:-1px;
	margin-top:0px;
	margin-bottom:1px;
	background-image:url(/cellula_client/default/images/bg_menu_g_t.png);
	background-position:left top;
	background-repeat:repeat-x;
	vertical-align:top;
	}
.JskitRichDropDownList_item
{
	padding:2px 2px 2px 2px;
	cursor:pointer;
	background-color:#ffffff;
	color:#3366aa;
	font-weight:normal;
	}
.JskitRichDropDownList_item_active
{
	padding:2px 2px 2px 2px;
	cursor:pointer;
	background-color:#0000aa;
	color:#ffffff;
	}
.JskitRichDropDownList_tree_group
{
	}
.JskitRichDropDownList_tree_sub
{
	padding-left:15px;
	}
.JskitRichDropDownList_tree_txt
{
	padding:0px 4px 0px 4px;
	border-bottom:1px solid #ffffff;
	cursor:pointer;
	background-color:#ffffff;
	color:#666666;
	font-weight:normal;
	}

/* END: JskitRichDropDownList */