.JSA_VRoll_RollBox{width:940px;overflow:hidden;margin:0 auto;}
.JSA_VRoll_Convas{width:940px;overflow:hidden;margin:0 auto;padding-top:20px;}
.JSA_VRoll_ScrCont{width:10000000px;}
.JSA_VRoll_Cell{
	width:235px;
	float:left;
	text-align:center;
	padding-right:0px;}
.JSA_VRoll_IMG{padding:4px;
	background:#fff;
	border:1px solid #ccc;
	display:block;
	margin:0 auto;
	width:220px;
	height:153px;
}
.JSA_VRoll_Convas a:link,.JSA_VRoll_Convas a:visited{color:#626466;text-decoration:none;}
.JSA_VRoll_Convas a:hover{color:#f00;text-decoration:underline;}
.JSA_VRoll_List{float:left;}
