.img_box{
	position:relative;
}
.img_box img{
	position:absolute;
	top:0px;
	border:0px;
}
.img_box a{
	border:0px;
	text-decoration:none;
	color:transparent;
}
.img_box a:hover{
	border:0px;
	text-decoration:none;
	color:transparent;
}
.num_box{
	z-index:100;
	position:absolute;
	top:364px;
	left:0px;
	width:955px;
	height:30px;
	background-image:url(images/num_bar.png);
	background-position:right center;
	background-repeat:no-repeat;
}
.num_box .num{
	cursor:pointer;
	width:20px;
	height:20px;
	background-image:url(images/num_bg.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:#ffffff;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	float:right;
	margin-right:10px;
	margin-top:3px;
	text-align:center;
	padding-top:4px;
}
.num_box .current{
	cursor:pointer;
	width:20px;
	height:20px;
	float:right;
	background-image:url(images/num_bg_a.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:#ffffff;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	padding-top:4px;
	margin-right:10px;
	text-align:center;
	margin-top:3px;
}

